* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 22px;
}
*::placeholder {
  color: #d62246;
  font-weight: bold;
}
*::selection {
  background: #d62246;
  color: #fff;
  font-weight: bold;
}
.menu {
  padding: 10px;
  background: #d62246;
}
.menu li {
  display: inline-block;
}
.menu li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 27px;
}
#about-link {
  margin-left: 80vw;
}
#new-todo {
  position: absolute;
  background: #ccc;
  margin-top: 10px;
  width: 40vw;
  margin-left: 10px;
  border: 2px solid #d62246;
}
#new-todo h3 {
  text-align: center;
  color: #d62246;
  font-weight: bold;
}
#new-todo input,
#new-todo textarea,
#new-todo button {
  width: 30vw;
  margin-left: 5vw;
  margin-bottom: 5px;
}
#new-todo input,
#new-todo textarea {
  border: none;
  outline: none;
  background: none;
  text-align: center;
  color: #d62246;
}
#new-todo input:focus,
#new-todo textarea:focus {
  border-bottom: 2px solid #d62246;
  transition: all 0.3s ease;
}
#new-todo button {
  border: 1px solid #fff;
  border-radius: 25px;
  outline: none;
  background: #d62246;
  color: #fff;
  font-weight: bold;
  padding: 5px;
  cursor: pointer;
}
#new-todo button:hover,
#todo-card button:hover {
  background: #fff;
  color: #d62246;
  border: 2px solid #d62246;
  transition: all 0.3s ease;
}
.todo-list {
  position: relative;
  left: 45vw;
  margin-top: 5px;
  width: 30vw;
  background: #ccc;
  color: #d62246;
}
#todo-card {
  border-bottom: 2px solid #d62246;
  margin-top: 5px;
}
#todo-card h3,
#todo-card p {
  text-align: center;
}
#todo-card h3 {
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 2px;
}
.todo-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}
.todo-buttons button {
  margin-left: 5px;
  background: none;
  outline: none;
  padding: 5px;
  border: 2px solid #d62246;
  border-radius: 10px;
  background: #d62246;
  color: #fff;
}
.todo-buttons button i {
  font-size: 25px;
  font-weight: bold;
}
#done-button {
  background: #30be09;
  border: 2px solid #30be09;
}
/*TODO: Add functions to todo buttons*/
/*TODO: Fix animations*/
/*TODO: Add animations on create/delete todo*/
@keyframes showTodoCard {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}
